* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.header {
    padding: 20px 0px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.nav__list {
    display: flex;
    column-gap: 50px;
    text-transform: uppercase;
    justify-content: center;
}

.nav__link {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 0px 3px black;
}

.section {
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(img/zima-snezhinki-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 50px;
    background-image: url(img/zolotoi-fon.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.title__top {
    font-family: 'Great Vibes', cursive;
}

.title__btm {
    text-transform: uppercase;
    font-family: 'Libre Bodoni', serif;
}

.main__text {
    width: 500px;
    font-size: 20px;
    margin-bottom: 50px;
}

.main__link {
    display: block;
    text-transform: uppercase;
    background-color: red;
    padding: 15px;
    min-width: 165px;
    font-weight: 500;
}

.desc {
    display: flex;
}

.section__col {
    height: 100%;
    width: 100%;
}

.desc__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.subtitle {
    color: #bb9d45;
    text-transform: uppercase;
    font-size: 40px;
}

.subtitle::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: red;
}

.desc__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 50px;
    background: url(img/santa.png) no-repeat top right / 300px, url(img/snowman.png) no-repeat center bottom / 300px;
}

.compliment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/snowflakes.png);
}

.compliment__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 50px;
}

.compliment__text {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 100px;
    font-size: 30px;
    border-radius: 0px 100px 100px 0px;
}

.compliment__img {
    height: 100%;
}

.footer {
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}